<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <div th:insert="~{inclusions :: bootstrap}"></div>

    <title>TODO</title>
</head>
<body>
<div class="container">
    <div class="row">
        <p> В ходе работы приложения произошла ошибка.</p>
    </div>
    <div class="row">
        <a class="btn btn-dark" th:href="@{/tasks}" role="button">Вернуться на главную</a>
    </div>
</div>
</body>
</html>