<div th:fragment="navigator">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Dream job</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link" th:href="@{/index}">Главная</a>
                <a class="nav-item nav-link" th:href="@{/posts}">Вакансии</a>
                <a class="nav-item nav-link" th:href="@{/formAddPost}">Добавить вакансию</a>
                <a class="nav-item nav-link" th:href="@{/candidates}">Кандидаты</a>
                <a class="nav-item nav-link" th:href="@{/formAddCandidate}">Добавить кандидата</a>
                <a class="nav-item nav-link" th:href="@{/formAddUser}">Регистрация пользователя</a>
                <a class="nav-item nav-link" th:if="${regUser.name == 'Гость'}" th:href="@{/loginPage}">
                    <span th:text="${regUser.name}"></span>
                    <span> | Войти</span>
                </a>
                <a class="nav-item nav-link" th:if="${regUser.name != 'Гость'}" th:href="@{/logout}">
                    <span th:text="${regUser.name}"></span>
                    <span> | Выйти</span>
                </a>
            </div>
        </div>
    </nav>
</div>